
@import './../../index.scss';


@mixin square ($width, $height) {
    width: $width ;
    height: $height;  
}

@mixin item-border(){

  border:none;
  outline:none;
}





.item {
  width: 100%;
  @include item-border();
  cursor: pointer;

  &__left{
      width: 80%;
      line-height: 35px;
      cursor: pointer;
      border:none;
      display: inline-block;
      outline:none;

      &__edit{
            outline:none;
            border:none;
            width:100%;
            cursor: pointer;

            &--done{
              cursor: pointer;
              outline:none;
              border:none;
              width:100%;
              text-decoration: line-through;
            }
      }
  }

  &__right{
    width: 20%;
    border:none;
    background-color: white;
    position:absolute;
    display: inline-block;

    &__btn{
      width: 30px;
      height: 30px;
      margin: 3px;
      text-align: center;      
    }




  }

}


