
@import './../../constants/const';


@mixin square ($width, $height) {
    width: $width ;
    height: $height;  
}







.item {
  width: 100%;
  @include item-border();
  border-bottom: 1px solid ($primary_background)-20;
  cursor: pointer;
  @include color_btn($todo_color,$color_title);
  
  &__left{
      width: 80%;
      line-height: 35px;
      cursor: pointer;
      border:none;
      display: inline-block;
      outline:none;

      &__edit{
        @include color_btn($todo_color,$color_title);
            outline:none;
            border:none;
            width:100%;
            cursor: pointer;

            &--done{
              @include color_btn($todo_color,$color_title);
              cursor: pointer;
              outline:none;
              border:none;
              width:100%;
              text-decoration: line-through;
            }
      }
  }

  &__right{
    @include color_btn($todo_color,$color_title);
    width: 20%;
    border:none;
    position:absolute;
    display: inline-block;

    &__btn{
      width: 30px;
      height: 30px;
      margin: 3px;
      text-align: center;      
    }




  }

}


