// $color_title:black;
// $color_subtitle:grey;

@import './../../constants/const';

.header {

    height: $heigth_header;
    align-items: flex-end; 

    &__title {
      font-size: 3.0rem;
      flex-grow: 1;
      color:$color_title;
      font-weight: $font-weight-header;
    }
    
    &__subtitle {
      font-size: 1rem;
      margin-bottom: 2rem;
      color: $color_subtitle;
      font-weight: $font-weight-subheader;
    }
}