// $color_title:black;
// $color_subtitle:grey;

@import './../../styles/base';

.header {


    align-items: flex-end; 

    &__title {
      font-size: 3.0rem;
      flex-grow: 1;
      color:$color_title;
    }
    
    &__subtitle {
      font-size: 1.0rem;
      color: $color_subtitle;
    }
}